div {
  /*border: 1px solid red;*/
  margin: 0 auto;
  text-align: center;
}

body{zoom:1;}
.disclaimer{
  position: fixed;
  top: 94%;
  width: 100%;
  z-index: 1;
}
.disclaimerTxt{
  font-size: 12px;
  color: white;
  text-align: center;
  font-family: "Roboto";
}
.logo{
  background-image: url(../Presentation_ast_files/images/logoSegmentation.png);
  width: 208px;
  height: 339px;
  margin-top: 120px;
}
#homeSlide{

}
.wellcomeMessage{
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 20px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  text-align: center;
  font-weight: 300;
  width: 70%;
}
.bgHome{
  background-image: url(../Presentation_ast_files/images/bgHome.png);
  width: 1024px;
  height: 768px;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.startButtonShine {

  background: rgba(255,255,255,0.3);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(47%, rgba(255,255,255,0.02)), color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  width: 267px;
  height: 61px;
  z-index: 0;
  position: absolute;
  left: 378px;

}


.startButton {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb( 255, 255, 255 );
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  width: 267px;
  height: 61px;
  text-decoration:none;
  line-height: 61px;
  z-index: -8;

}

.startButtonBack{
  border-radius: 35px;
  background: #1d6f88;
  opacity: 0.5;
  box-shadow: 1px 1px 2px 0px rgba( 255, 255, 255, 0.5 );
  position: absolute;
  width: 282px;
  height: 73px;
  margin-top: -67px;
  margin-left: 313px;
  z-index: -9;
}
.headBar{
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 73px;
}
.topLine{
  background-image: -moz-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 3px;
  z-index: 80;
}
.logoQuestions{
  background-image: url(../Presentation_ast_files/images/logoQuestions.png);
  height: 35px;
  width: 138px;
  position: absolute;
  top: 21px;
  left: 90px;
}



.mainContainer {
  width: 90%;
  top: 50px;
  height: 500px;
}
#presentationSlide{
  background: #f4f8ff;
  width: 1024px;
  height: 768px;
  position: fixed;
  top: 0;
  left: 0;
}
.questionContainer {
  background-image: -moz-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  left: 0px;
  top: 71px;
  width: 1024px;
  height: 150px;
  font-size: 22px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  text-align: center;
  font-weight: 100;
}
.titleQuestion{
  font-size: 30px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  font-weight: 500;
  margin-top: 20px;
}
.question{
  width: 88%;
  margin-top: 10px;
  font-weight: 300;
}
.subquestionContainer{
  font-size: 16px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  font-weight: 500;
  margin-top: 14px;
}
.answerContainer {
  margin-top: 300px;
  width: 80%;
}

.answerContainerZoom {
  margin-top: 392px;
  width: 80%;
  zoom:0.6;
}
.answerContainerZoom > p {
  font-size: 28px !important;
}

.centeredAnswer1{
  margin-top: 460px;
}

.centeredAnswer2{
  margin-top: 410px;
}

.centeredAnswer3{
  margin-top: 410px;
}



.answer{
  border-radius: 35px;
  background-color: rgb( 111, 184, 255 );
  width: 693px;
  height: 73px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb( 255, 255, 255 );
  line-height: 1.1;
  text-align: left;
  margin-bottom: 23px;
}
.answer > p{
  margin-left: 29px;
  top: 13px;
  position: relative;
  width: 80%;
}

.answerSelection{
  border-radius: 50%;
  background-color: rgb(111, 174, 255);
  box-shadow: -2px 2px 3px rgba( 255, 255, 255, 0.4 ), rgba( 0, 0, 0, 0.2) 0px 0px 5px inset;
  position: absolute;
  width: 56px;
  height: 56px;
  margin-top: -56px;
  margin-left: 630px;
}
.answerMini{
  margin-top: -67px !important;
}
.answerMiniTxt{
  font-size: 32px;
  line-height: 44px;
  margin-bottom: -10px;

}

#nextButton{
  border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  border: 0px solid #000000;
  position: absolute;
  left: 866px;
  top: 660px;
  z-index: 0;
}

#prevButton{
  border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px 0px 0px 30px;
  -webkit-border-radius: 30px 0px 0px 30px;
  border: 0px solid #000000;
  position: absolute;
  left: 54px;
  top: 660px;
  z-index: 0;
}

.noBack {
  color: #4a4343;
}

.buttonShine {

  background: rgba(255,255,255,0.3);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(47%, rgba(255,255,255,0.02)), color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  width: 110px;
  height: 61px;
  z-index: 0;
  position: absolute;
  left: 378px;

}


.button {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  text-shadow: 0.5px 0.866px 0px rgba(0,207,255,0.3);
  font-size:16px;
  width: 110px;
  height: 61px;
  text-decoration:none;
  line-height: 61px;
  z-index: -8;

}
.disabled{
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #c3c3c3;
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(155,162,167) 0%, rgb(200,206,216) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(155,162,167) 0%, rgb(200,206,216) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(155,162,167) 0%, rgb(200,206,216) 100%);
  color: rgb( 118, 126, 143 );
  text-shadow: 0.5px 0.866px 0px rgb( 198, 204, 214 );

}

.progress{
  background-image: -moz-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  width: 0%;
  height: 44px;
  z-index: -1;
  margin-top: 9px;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);

}
.progressBack{
  background-color: rgb( 208, 214, 224 );
  position: absolute;
  left: 158px;
  top: 660px;
  width: 722px;
  height: 61px;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
  z-index: -9;
}

.selected{
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  margin-top: -56px;
  margin-left: 630px;
  width: 56px;
  height: 56px;
}

.selected::before{
  content: "";
  background-image: url(../Presentation_ast_files/images/tickSelect.png);
  height: 23px;
  width: 24px;
  display: block;
  margin-left: 16px;
  margin-top: 17px;
}
.selected::after{
  content: "";
  border-radius: 50%;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

}

.gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(46,151,199) 0%, rgb(88,217,195) 100%);
  position: absolute;
  left: 0px;
  top: 71px;
  width: 1024px;
  height: 170px;
  font-size: 26px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  text-align: center;
  font-weight: 100;
}



.results{
  top: 50%;
  margin-top: -120px;
  height: 240px;
}

#segmentContainer{
  font-size: 2.0em;
  margin-top: -50px;
}
#thankYouContainer,#segmentTitleContainer{
  font-size: 28px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0px;
}
#segmentDoctor{
  font-size: 24px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  font-weight: 500;
  position: relative;
  margin-top: -50px;
}
.percent{
  padding:2px;
  height:20px;
  width:40%;
  text-align: left;
}

#ZINCapprovalCode{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 5, 159, 213 );
  font-weight: bold;
  margin-top: 235px;
}

.finalizeButtonShine {

  background: rgba(255,255,255,0.3);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(47%, rgba(255,255,255,0.02)), color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.02) 47%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  width: 267px;
  height: 61px;
  z-index: 0;
  position: absolute;
  left: 378px;
  margin-top: 150px;

}


.finalizeButton {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb( 255, 255, 255 );
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,123,194) 0%, rgb(0,186,226) 100%);
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  box-shadow: inset -1px 1px 2px 0px rgba(255,255,255,0.4);
  -moz-border-radius:33px;
  -webkit-border-radius:33px;
  border-radius:33px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  width: 267px;
  height: 61px;
  text-decoration:none;
  line-height: 61px;
  z-index: -8;
  margin-top: 150px;

}

.finalizeButtonBack{
  border-radius: 35px;
  background: #1d6f88;
  opacity: 0.5;
  box-shadow: 1px 1px 2px 0px rgba( 255, 255, 255, 0.5 );
  position: absolute;
  width: 282px;
  height: 73px;
  margin-top: -67px;
  margin-left: 371px;
  z-index: -9;
}

#p1{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p2{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p3{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p4{height:100%; background-color: red;margin-left: 0px;text-align: left;}


/* MEDIA QUERIES FOR RETINA*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5), 
only screen and (min-resolution: 1.5dppx) { 
  /* Retina-specific stuff here */

  .logo{
    background-image: url(../Presentation_ast_files/images/logoSegmentation@2x.png);
    background-size:208px 339px;

  }
  .logoQuestions{
    background-image: url(../Presentation_ast_files/images/logoQuestions@2x.png);
    background-size:138px 35px;

  }
  .bgHome{
    background-image: url(../Presentation_ast_files/images/bgHome@2x.png);
    background-size:1024px 768px;

  }
  .selected::before{
    background-image: url(../Presentation_ast_files/images/tickSelect@2x.png);
    background-size:24px 23px;
  }

}
