
div {
    /*border: 1px solid red;*/
    margin: 0 auto;
    text-align: center;
}



.mainContainer {
    width: 90%;
    top: 50px;
    height: 500px;
}

.questionContainer {
    margin-top: 30px;
    height: 40px;
    width: 80%;
}

.answerContainer {
    margin-top: 90px;
    width: 80%;
}

.button {
    background: #3d85c6;
    background: -webkit-linear-gradient(#3d85c6, #073763);
    background: linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    font: normal 700 23px/1 "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    margin-top: 20px;
}

.selected{
    background-color: yellow;
}

.results{
    margin-top: 50px;
}

.percent{
    padding:2px;
    height:20px;
    width:40%;
    text-align: left;
}

#p1{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p2{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p3{height:100%; background-color: red;margin-left: 0px;text-align: left;}
#p4{height:100%; background-color: red;margin-left: 0px;text-align: left;}